
*{
  font-family: 'Montserrat';
  
}

body{
    max-width: 100%;
    margin: 0 auto;
}
.frame{
    object-fit: 100%;
    background:#FFFFFF;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    display: column;
    height: auto;
}
#name{
    color: #948E8E;
    line-height: 1.1;
    font-weight: 500;
    animation: fadein 2s;
    margin-block-end: 0.2em;
    margin-block-start: 0em;
    text-transform: uppercase;
    margin-left: -0.08em;
}
#occupation{
    color: #484545;
    font-size: 148.50%;
    line-height: 1.1;
    font-weight: 600;
    margin-block-start: 0;
    visibility: hidden;
    animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
} 
.delayContent{
    visibility: hidden;
    animation: fadein 3s;
    -webkit-animation: fadein 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
h3{
    color: #948E8E;
    line-height: 1.1;
    font-size: 140%;
    font-weight: 500;
}
h4{
    color: #484545;
    font-size: 94.5%;
    line-height: 1.1;
    font-weight: 700;
    display: block;
    margin-bottom: 0%;
}
#date {
  font-weight: normal;
  font-size: 72%;
}
.text{
    font-weight: 500;
    line-height: 1.1;
    margin-block-end: 0em;
    font-size: 78%;
    color: #66676B;
}
hr{
    color: #E5E5E5;
    margin-top: 0.3%;
    margin-block-start: 0;
    margin-block-end: 0;
}
.more{
    color: #484545;
    display: none;
    font-weight: 500;
    font-size: 78%;
    line-height: 1.3;
}
.coll{
    transition: height 3s ease-out;
    height: 0;
    overflow: hidden;
}

.about {
  color: #484545;
  line-height: 1.3;
  font-weight: 500;
  font-size: 78%;
}
#phone {
  margin-top: 2%;
}
.toFlexButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 3px;
}
.toFlex {
  display: flex;
  flex-wrap: wrap;
}
.bigContent {
  list-style-type: none;
  padding: 0;
  flex-basis: 60%;
}
.sideContent {
  flex-grow: 1;
  list-style-type: none;
  padding: 0;
  flex-basis: 26%;
  color: #484545;
  font-weight: 600;
}
.noStyleList {
  list-style-type: none;
  padding: 0;
}
.styledList {
  list-style-type: none;
  padding: 0;
  font-weight: 600;
}
.visible,
.hidden {
  overflow: hidden;
}
.visible {
  visibility: hidden;
  animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  display: block;
}
.hidden {
  visibility: visible;
  animation: fadeout 0s;
  -webkit-animation: fadeout 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.hidden > div {
  margin-top: -100%;
  transition: margin-top 0s 1s;
}
.group {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
.buttonGenerate {
  float: right;
  margin-top: 50px;
  margin-right: 25%;
  animation: fadein 4s;
  border-radius: 15px;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  resize: block;
  transition-duration: 0.4s;
}
.buttonGenerate{
    border-width: 0;
    padding: 10px;
    font-weight: 600;
    color: white;
    background-color: #948E8E;
    letter-spacing: 2px;
    float: right;
    animation: fadein 8s;
}

@keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-moz-keyframes fadeout {
  /* Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  /* Safari and Chrome */
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-o-keyframes fadeout {
  /* Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

html {
  visibility: visible;
  opacity: 1;
}

